/* andreas07 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

/**************** Page and tag styles ****************/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,font,img,strong,ol,ul,li,form{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
 }
body
{margin:0; padding:0; color:#000000;  font:76% Verdana,Tahoma,sans-serif;background:url(bg.jpg) #000000 repeat-x;} /* nxcomm */

